body{
    background: #EAEAEA;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}


header{
    text-align: center;
}
h1{
    background-color: white;
    padding: 10px;
    margin-top: 0;
}

section{
    background: white;
    display: block;  
    padding: 18px;
}

h3{
    display: inline;
 
    
}

section p{
    float: right;
    margin: 0;
    color: gray;
    margin-top: 0%;
    
}

.wrapper{
  width: 600px;
  display: block;
  margin: auto;
  background: white;
}

article{
    border: none;
    margin-bottom: 100px;
    
}

article >p{
    padding: 15px;
    background: white;
    color: rgb(50, 47, 47);
    border-top: rgb(235, 233, 233) solid;
    border-top-width: thin;
}

img{
    width:100%;
}

span{
    font-weight: normal;
    color: black;
}

.three img{
    padding: 100px 0 0 100px;
}